/* Stili generali di pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Whitney', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

/* Stili dell'Header */
header {
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

#navbar {
    padding: 20px 0;
}

nav {
    display: flex;
    line-height: 40px;
    font-size: 18px;
}

nav.center {
    max-width: 65%;
    margin: 0 auto;
}

.left-section {
    width: 20%;
    padding-left: 10px;
}

.logo {
    width: 150px;
}

.middle-section {
    width: 60%;
    text-align: center;
}

.middle-section a {
    margin: 0 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}

.middle-section a:hover {
    text-decoration: underline;
}

.right-section {
    width: 20%;
    text-align: right;
    padding-right: 10px;
}

.right-section a {
    color: black;
    padding: 10px 15px;
    border-radius: 20px;
    background-color: white;
}

.right-section a:hover {
    color: #1e90ff;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5)
}

a {
    text-decoration: none;
    color: white;
}

#container-header {
    height: 570px;
}

#text {
    padding: 50px 0;
}

header  div.center { 
    max-width: 50%;
    height: 480px;
    margin: 35px auto;
}

.center h1, p {
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}

h1 {
    font-size: 5em;
}

.center p {
    font-size: 25px;
    padding-top: 50px;
    line-height: 35px;
}

.header-buttons {
    text-align: center;
    padding-top: 30px;
}

.fa-arrow-down-long {
    margin-right: 10px;
}

.download-button {
    background-color: white;
    padding: 15px 35px;
    color: black;
    font-size: 20px;
    border-radius: 40px;
    border: none;
    margin-right: 30px;
    cursor: pointer;
}

.download-button:hover {
    color: #1e90ff;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5)
}

.link-browser {
    background-color: black;
    color: white;
    padding: 15px 35px;
    font-size: 20px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
}

.link-browser:hover {
    background-color: #363d43;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5)
}

/* Stili del Main */

/* Stili Generali Sezioni */
.container-section {
    padding: 120px 0;
}

main div.center {
    display: flex;
    max-width: 65%;
    margin: 0 auto;
}

.section-img {
    width: 60%;
}

.section-text {
    width: 40%;
}

.section-text > h2, .paragraph  {
    color: black;
    padding-left: 20px;
}

h2 {
    font-size: 48px;
    padding-top: 30px;
}

.paragraph {
    padding-top: 40px;
    font-size: 22px;
}

.second-wave {
    transform: rotate(180deg);;
}

/* Stili Seconda e Quarta Sezione */
.grey  {
    background-color: #f6f6f6;
}

/* Stili Quarta Sezione */
.fourth-container {
    width: 100%; 
    text-align: center;
}

.fourth-text {
    padding-left: 0;
}

.great-img  {
    width: 100%;
}

.big-img {
    width: 1200px;
    margin-top: 20px;
}

.small-text {
    margin-top: -15px;
}

.small-img {
    width: 620px;
}

main h3 {
    font-size: 35px;
    margin-top: -20px;
}

.bottom-page {
    color: white;
    background-color: #8ea1e1;
    font-size: 20px;
    padding: 13px 27px;
    margin-top: 25px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
}

.bottom-page:hover {
    background-color: #1e90ff;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5)
}

/* Stili del Footer */

/* Stili Prima Parte Footer */
.container-first-part-footer {
    background-color: #23272a;
}

footer div.center-footer {
    display: flex;
    max-width: 65%;
    margin: 0 auto;
    border-bottom: 2px solid #7289da;
}

.socials {
    width: 30%;
}

.socials, .col {
    padding: 70px 0 20px;
}

footer h3, .title {
    color: #7289da;
}

footer h3 {
    font-size: 32px;
    margin-bottom: 20px;
}

.italy-logo {
    height: 20px;
    vertical-align: middle;
}

.languages {
    color: white;
    margin-left: 5px;
    line-height: 20px;
    vertical-align: middle;
}

select {
    color: white;
    background: none;
    border: none;
}

option {
    color: black;
    background-color: white;
}

.icons {
    margin-top: 20px;
}

.fa-brands {
    margin-right: 20px;
}

.title {
    font-size: 18px;
    color: #7289da;
    font-weight: bold;
}

ul {
    list-style: none;
}

li {
    font-size: 18px;
    margin: 20px 0;
}

li a:hover {
    text-decoration: underline;
}

.col {
    width: calc(70% / 4);
}

/* Stili Seconda Parte Footer */
.container-second-part-footer {
    background-color: #23272a;
}

footer div.second-footer {
    border: none;
}

.container-footer {
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 100%;
}

.left-section-footer, 
.right-section-footer {
    padding: 40px 0 120px;
}

.button-footer {
    color: white;
    background-color: #8ea1e1;
    font-size: 14px;
    padding: 10px 25px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
}

.button-footer:hover {
    background-color: #1e90ff;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}







